In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('2015-Jan-June.csv', parse_dates = [1])

In [19]:
df.head(3)

  Dispatching_base_num         Pickup_date Affiliated_base_num  locationID
0               B02617 2015-05-17 09:47:00              B02617         141
1               B02617 2015-05-17 09:47:00              B02617          65
2               B02617 2015-05-17 09:47:00              B02617         100

In [20]:
del df['Dispatching_base_num']
del df['Affiliated_base_num']
del df['locationID']

In [21]:
type(df['Pickup_date'][1])

pandas.tslib.Timestamp

In [24]:
df['Pickup_date'][1].date()

datetime.date(2015, 5, 17)

In [16]:
temp = '2015-05-17 09:47:00'
print pd.to_datetime(temp).date()
pr

2015-05-17

In [25]:
df['date'] = df['Pickup_date'].map(lambda dt: dt.date())

In [26]:
df.head(3)

          Pickup_date        date
0 2015-05-17 09:47:00  2015-05-17
1 2015-05-17 09:47:00  2015-05-17
2 2015-05-17 09:47:00  2015-05-17

In [31]:
df['pickups'] = df['date'].map(lambda i: 1)

In [33]:
del df['Pickup_date']
del df['one']
df.head(3)

         date  pickups
0  2015-05-17        1
1  2015-05-17        1
2  2015-05-17        1

In [34]:
new_df = df.groupby(['date']).sum().reset_index()

In [35]:
new_df.head(3)

         date  pickups
0  2015-01-01    58045
1  2015-01-02    40287
2  2015-01-03    59844

In [37]:
new_df.to_csv('uber_pickups.csv', index = False)

In [38]:
new_df.head(3)

         date  pickups
0  2015-01-01    58045
1  2015-01-02    40287
2  2015-01-03    59844

In [39]:
print new_df['date'][0]

2015-01-01